@import "../imports/ui/sass/colors";
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Nunito);

$base-font-family: Helvetica, Arial, sans-serif;
$heading-font-family: "Roboto", Helvetica, Arial, sans-serif;
$button-font-family: "Raleway", "Roboto", Helvetica, Arial, sans-serif;
$site-header-font-family: "Nunito", "Roboto", "Raleway", Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$base-line-height: 1.5;

$spacing-unit: 30px;

$text-color: #333;
$heading-text-color: $md-grey-800;
$background-color: #fff;
$background-color-darker: $md-blue-grey-100;

$input-border-color: $md-blue-grey-700;
$button-background-color: $md-blue-grey-500;
$button-background-hover-color: $md-blue-grey-400;
$button-text-color: #fff;

$sick-day-button-color: $md-cyan-300;
$sick-day-button-hover-color: $md-cyan-200;
$sick-day-button-border-color: $md-cyan-600;
$sick-day-background-color: rgba($md-cyan-50, 0.6);
$sick-day-background-color-darker: rgba($md-cyan-100, 0.6);

$i-day-button-color: $md-light-green-300;
$i-day-button-hover-color: $md-light-green-200;
$i-day-button-border-color: $md-light-green-600;
$i-day-background-color: rgba($md-light-green-50, 0.6);
$i-day-background-color-darker: rgba($md-light-green-100, 0.6);

$meeting-button-color: $md-deep-purple-300;
$meeting-button-hover-color: $md-deep-purple-200;
$meeting-button-border-color: $md-deep-purple-600;
$meeting-background-color: rgba($md-deep-purple-50, 0.6);
$meeting-background-color-darker: rgba($md-deep-purple-100, 0.6);

$vacation-button-color: $md-amber-300;
$vacation-button-hover-color: $md-amber-200;
$vacation-button-border-color: $md-amber-600;
$vacation-background-color: rgba($md-amber-50, 0.6);
$vacation-background-color-darker: rgba($md-amber-100, 0.6);

$on-desktop: 768px;
$medium-desktop: 992px;
$large-desktop: 1200px;

@mixin flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
}

@mixin prefix($property, $value, $vendors: webkit moz ms o) {
	@if $vendors {
    	@each $vendor in $vendors {
        	#{"-" + $vendor + "-" + $property}: #{$value};
    	}
	}
	#{$property}: #{$value};
}

@mixin mobile {
	@media
	only screen and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait),
	only screen and (min-resolution: 192dpi) and (orientation: portrait) {
		@content;
	}
}

@import "../imports/ui/sass/index";
