<template name="main">
{{#if errorAlert}}
	<header>
		<div class="container">			
			<div class="alert alert-danger alert-dismissable error-alert" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<strong>Error:</strong> {{errorAlert}}
			</div>
		</div>
	</header>
{{/if}}
	<main class="main">
		{{> Template.dynamic template=main}}
	</main>
	<footer class="{{routeName}}">
{{#unless routeIs "Home"}}
		<a href="/">Home</a>
{{/unless}}
{{#if currentUser}}
	{{#if currentUserAdmin}}
		{{#unless routeIs "Users"}}
		<a href="/users">User administration</a>
		{{/unless}}
		{{#unless routeIs "Locations"}}
		<a href="/locations">Locations</a>
		{{/unless}}
	{{/if}}
	{{#unless routeIs "List"}}
		<a href="/list">Request List</a>
	{{/unless}}
		<a href="#" id="logout">Logout</a>
{{else}}
		<a href="/login">Login</a>
{{/if}}
	</footer>
</template>
