<template name="main">
	<header class="{{routeName}}">
		<h1>
{{#if isFellow}}
			<span class="site-header-user-type">Fellow</span>
{{else}}
			<span class="site-header-user-type">Resident</span>
{{/if}}
			Day&nbsp;off reporter
		</h1>
	</header>
	<main class="main {{routeName}}">
{{#if errorAlert}}
		<div class="container">
			<div class="alert alert-danger alert-dismissable error-alert" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<strong>Error:</strong> {{errorAlert}}
			</div>
		</div>
{{/if}}
		{{> Template.dynamic template=main}}
	</main>
	<footer class="{{routeName}}">
{{#if isFellow}}
		<a href="//{{residentUrl}}">Resident site</a>
{{else}}
		<a href="//{{fellowUrl}}">Fellowship site</a>
{{/if}}
		<nav>
{{#unless routeIs "Home"}}
			<a href="/">Home</a>
{{/unless}}
{{#if currentUser}}
	{{#if currentUserAdmin}}
		{{#unless routeIs "Users"}}
			<a href="/users">User administration</a>
		{{/unless}}
		{{#unless routeIs "Locations"}}
			<a href="/locations">Locations</a>
		{{/unless}}
		{{#unless routeIs "Fellowships"}}{{#if isFellow}}
			<a href="/fellowships">Fellowships</a>
		{{/if}}{{/unless}}
	{{/if}}
	{{#unless routeIs "List"}}
			<a href="/list">Request List</a>
	{{/unless}}
			<a href="#" id="logout">Logout</a>
{{else}}
			<a href="/login">Login</a>
{{/if}}
		</nav>
	</footer>
</template>
