.home {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	font-size: 1.5em;
	background-color: $background-color;

	@include prefix(transition, "background-color 0.5s ease-in, background-image 0.5s ease-in");

	@media screen and (min-width: $on-desktop) {
		font-size: 1.65em;
	}

	@media screen and (min-width: $medium-desktop) {
		font-size: 1.8em;
	}

	@media screen and (min-width: $large-desktop) {
		font-size: 2em;
	}

	&.sick {

		.entry-form,
		.submission-confirmation {

			.btn-primary {
				background-color: $sick-day-button-color;
				border-color: $sick-day-button-border-color;

				&:hover {
					background-color: $sick-day-button-hover-color;
				}
			}
		}
	}

	&.iDay {

		.entry-form,
		.submission-confirmation {

			.btn-primary {
				background-color: $i-day-button-color;
				border-color: $i-day-button-border-color;

				&:hover {
					background-color: $i-day-button-hover-color;
				}
			}
		}
	}

	&.meeting {

		.entry-form,
		.submission-confirmation {

			.btn-primary {
				background-color: $meeting-button-color;
				border-color: $meeting-button-border-color;

				&:hover {
					background-color: $meeting-button-hover-color;
				}
			}
		}
	}

	&.vacation {

		.entry-form,
		.submission-confirmation {

			.btn-primary {
				background-color: $vacation-button-color;
				border-color: $vacation-button-border-color;

				&:hover {
					background-color: $vacation-button-hover-color;
				}
			}
		}
	}

	.completed-entries {
		flex-grow: 1;
		max-width: 100%;
		margin-top: 0.5em;
		font-size: 1em;
		overflow-x: auto;

		@media screen and (min-width: $on-desktop) {
			font-size: 1.5em;
		}

		table {
			margin-left: auto;
			margin-right: auto;

			@media (min-width: $on-desktop) {
				font-size: 0.75em;
			}

			.completed-entry {
				color: grey;
				animation-duration: 1s;
				animation-name: slidein;

				&.editable {
					cursor: pointer;

					&:hover {
						text-decoration: underline;
					}
				}

				th, td {
					width: 50%;
					padding-left: 1em;
					padding-right: 1em;
				}
			}
		}
	}

	.entry-form {
		flex-grow: 3;
		width: 100%;
		padding: 0 1em;
		display: flex;
		justify-content: space-around;
		align-items: flex-start;
		align-content: stretch;
		flex-wrap: wrap;

		@media screen and (min-width: $on-desktop) {
			justify-content: center;
		}

		.day-off-buttons {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			width: 100%;
			flex-shrink: 0;

			.day-off-button {
				margin: 0.35em;
				font-size: 2em;
				padding: 0.5em;

				&.sick {
					background-color: $sick-day-button-color;
					border-color: $sick-day-button-border-color;

					&:hover {
						background-color: $sick-day-button-hover-color;
					}
				}

				&.iDay {
					background-color: $i-day-button-color;
					border-color: $i-day-button-border-color;

					&:hover {
						background-color: $i-day-button-hover-color;
					}
				}

				&.meeting {
					background-color: $meeting-button-color;
					border-color: $meeting-button-border-color;

					&:hover {
						background-color: $meeting-button-hover-color;
					}
				}

				&.vacation {
					background-color: $vacation-button-color;
					border-color: $vacation-button-border-color;

					&:hover {
						background-color: $vacation-button-hover-color;
					}
				}
			}
		}

		input, select, textarea, button {
			display: inline-block;
			margin: 0.2em;
		}

		input, select, textarea {
			flex-shrink: 1;
			max-width: 100%;

			@media screen and (min-width: $medium-mobile) {
				width: 70%;
			}

			@media screen and (min-width: $medium-desktop) {
				width: 50%;
			}

			@media screen and (min-width: $large-desktop) {
				width: 40%;
			}
		}

		input, select {
			border: none;
			border-bottom: 2px solid $md-grey-600;
			background: transparent;

			&:focus {
				outline: none;
			}
		}

		input {
			font-size: 1.5em;
		}

		select {
			font-size: 1.5em;

			option {
				font-size: 0.66em;
			}
		}

		textarea {
			font-size: 1em;
		}

		button {
			font-size: 1.25em;
			margin: 0 0.5em;
		}

		p {
			margin: 1em;
		}

		label {
			font-size: 0.75em;

			&#multiple-days-label {
				font-weight: normal;
				margin: 0 3em;

				@media screen and (min-width: $on-desktop) {
					order: 3;
				}

				input[type="checkbox"] {
					display: block;
					width: 1em;
					height: 1em;
				}
			}
		}

		fieldset {

			legend {
				font-weight: bold;
			}

			.options {
				width: 100%;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-around;
			}
		}

		.column {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
		}

		.on-desktop,
		.on-mobile,
		.labelled-input {

			input {
				width: 100%;
			}
		}

		.labelled-input + button {
			margin-top: 1.5em;
		}

		.on-desktop {
			display: none;
		}

		.on-mobile {
			width: 100%;

			label {
				margin: 1em 0 0;
				font-weight: normal;
			}

			input {
				margin-top: 0;
			}
		}

		@media screen and (min-width: $on-desktop) {
			.on-desktop {
				display: block;
			}

			.on-mobile {
				display: none;
			}
		}

		.hint {
			order: 5;
			margin-top: 2em;
		}

		.request-confirmation {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	.submission-confirmation-container {
		flex-grow: 1;
		display: flex;
		justify-content: center;
		align-items: center;

		.submission-confirmation {
			padding-left: 1em;
			padding-right: 1em;

			@media screen and (min-width: $medium-desktop) {
				padding-left: 2em;
				padding-right: 2em;
			}

			@media screen and (min-width: $large-desktop) {
				padding-right: 4em;
				padding-left: 4em;
			}

			p {
				font-size: 1em;
				margin-bottom: 1em;
				margin-left: 1em;
				margin-right: 1em;
			}

			.location-number {
				text-align: center;
				font-size: 1.25em;
			}

			.chief-pager-table {
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 1.75em;
				font-size: 1em;

				tr {

					th {
						padding-right: 1em;
					}

					td {

					}
				}
			}

			.btn-primary {
				font-size: 1em;
				display: block;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 1em;
			}
		}
	}
}

footer.Home {
	font-size: 1.25em;

	// a {
	//
	// 	& + a {
	// 		margin-left: 1em;
	// 	}
	// }
}
