.locations-list {
	padding-top: 1em;

	#edit-location {
		padding: 1em;

		.button-row {
			text-align: center;

			@media screen and (min-width: $on-desktop) {
				text-align: right;
			}

			button {
				margin: 0px 1em;
			}
		}
	}

	.reactive-table {

		tbody {

			tr {
				cursor: pointer;
			}
		}
	}
}
