.requests-list {
	position: relative;

	header {

		h1 {

		}
		margin-top: 2em;
		margin-bottom: 2em;
	}

	h2 {
		margin-bottom: 1em;
	}

	table {
		width: 100%;
		margin-bottom: 2em;

		& + .reactive-table-navigation {
			margin-bottom: 4em;
		}
	}

	.reactive-table {

		tbody {

			tr {
				cursor: pointer;
			}
		}
	}

	.close-details-button {
		display: block;
		margin: 1em auto;
	}

	footer {
		position: absolute;
		bottom: 20px;
		right: 40px;

		a {

			& + a {
				margin-left: 1em;
			}
		}
	}
}

.request-details {

	.request-details-main {
		position: relative;

		.date-location-container {
			font-size: 2em;
			margin-top: 2em;
			margin-bottom: 2em;
		}

		.request-reason {
			font-size: 1.5em;
			margin-top: 2em;
			margin-bottom: 2em;
		}

		.id-time-container {
			font-size: 1.1em;
			margin-top: 2em;
			margin-bottom: 2em;
		}
	}

	.request-details-aside {

		.panel {

			.panel-body {

				.label {
					display: block;
					margin-left: auto;
					margin-right: auto;
				}

				p {
					margin-top: 1em;
					margin-bottom: 1em;
				}
			}
		}
	}

	.request-response-container {
		background-color: $md-grey-300;
		border-color: $md-grey-400;

		form {

			button {
				display: block;
				margin: 1em auto 0px;
			}
		}
	}
}

.single-request {

	header {
		margin-top: 2em;
		margin-bottom: 2em;
	}

	.request-details {
		margin-bottom: 2em;
	}
}
