<template name="calendar">
{{#if eventDetails}}
	<section class="event-details container">
		{{>requestDetails request=eventDetails}}
		<button type="button" class="close-details-button btn btn-default" id="close-event-details">Close details</button>
	</section>
{{/if}}

	<div class="calendar-container container">
		<section id="calendar"></section>
	</div>

	<section class="calendar-utils container">
		<table id="legend">
{{#each eventType in eventTypes}}
			<tr>
				<th>{{capitalizeFirstLetter eventType}}</th>
				<td><span class="legend-type {{eventType}}"></span></td>
			</tr>
{{/each}}
		</table>
	</section>
</template>
