<template name="confirmation">
	<header>
		<h1>Confirmation</h1>
	</header>

	<form id="confirm-request-form">
	{{#if lastConfirmation}}

	{{else}}
		<p>
			Confirmations are still required by the other confirmers.
			You will be notified of this request's final approval or denial.
		</p>
	{{/if}}
		<button type="submit">Confirm request</button>
	</form>

	<h2>Deny request</h2>
	<form id="deny-request-form">
		<label for="deny-reason">Reason for denial</label>
		<textarea id="deny-reason" name="deny_reason"></textarea>
		<button type="submit">Deny request</button>
	</form>
</template>
