<template name="home">
	<section class="home {{dayOffType}} {{#if isFellow}}fellow{{else}}resident{{/if}}">

{{#if editable}}
		<section class="completed-entries">
			<table>
	{{#each field in fields}}
		{{#if getField field}}
				<tr class="completed-entry {{editable}}" data-id="{{field}}">
					<th>{{fieldName field}}</th>
					<td>{{getField field}}</td>
				</tr>
		{{/if}}
	{{/each}}
			</table>
		</section>

		{{>dayOffEntry}}
{{else}}
		{{>submissionConfirmation}}
{{/if}}
	</section>
</template>

<template name="dayOffEntry">
	<form class="entry-form">
		{{> Template.dynamic template=nextField}}
	</form>
</template>

<template name="dayOffType">
	<section class="day-off-buttons">
{{#each dayOffButtons}}
		{{> dayOffTypeButton}}
{{/each}}
	</section>
	<div>
		{{> React component=ManageRequest }}
	</div>
</template>

<template name="dayOffTypeButton">
	<button type="submit" class="day-off-button btn btn-lg btn-primary {{value}}" name="dayOffType" value="{{value}}">{{text}}</button>
</template>

<template name="requestorName">
	<div class="labelled-input">
		<label for="name">Your name</label>
		<input type="text" name="requestorName" id="name" placeholder="Your name" value="{{oldValue}}" autocomplete="off" required />
	</div>
	<button type="submit" class="btn btn-lg btn-primary">Next</button>
</template>

<template name="requestorEmail">
	<div class="labelled-input">
		<label for="email">Your email</label>
		<input type="email" name="requestorEmail" id="email" placeholder="Your email" value="{{oldValue}}" autocomplete="off" required />
	</div>
	<button type="submit" class="btn btn-lg btn-primary">Next</button>
</template>

<template name="requestedDate">
	<div class="on-desktop">
		<label for="daterange">Date</label>
		<input type="text" name="requestedDate" id="daterange" placeholder="When you need off" value="{{oldValue}}" autocomplete="off" />
	</div>
	<div class="on-mobile">
		<label for="start-date">Date</label>
		<input type="date" name="requestedDate" id="start-date" data-end-date-element="#end-date" min="{{today}}" value="{{oldStartValue}}" placeholder="YYYY-MM-DD" autocomplete="off" />
{{#if isRange}}
		<label for="end-date">End date</label>
		<input type="date" name="requestedEndDate" id="end-date" placeholder="YYYY-MM-DD" value="{{oldEndValue}}" min="{{startDate}}" autocomplete="off" />
{{/if}}
	</div>
	<label id="multiple-days-label">
		Multiple days?
		<input type="checkbox" name="multiple-days" id="multiple-days" {{oldMultiple}} />
	</label>
	<button type="submit" class="btn btn-lg btn-primary">Next</button>
</template>

<template name="requestedFellowship">
	<select name="requestedFellowship" id="fellowship" required>
		<option value="">Select fellowship</option>
{{#each fellowship in fellowships}}
		<option value="{{fellowship._id}}" {{oldValueSelected fellowship}}>{{fellowship.name}}</option>
{{/each}}
	</select>
	<button type="submit" class="btn btn-lg btn-primary">Next</button>
</template>

<template name="requestedLocation">
	<select name="requestedLocation" id="location" required>
		<option value="">Select location</option>
{{#each location in locations}}
		<option value="{{location._id}}" {{oldValueSelected location}}>{{location.name}}</option>
{{/each}}
{{#if isFellow}}
	{{#if isRequest}}
		<option value="not-assigned-yet">Not assigned yet</option>
	{{/if}}
		<option value="other">Other</option>
{{/if}}
	</select>
{{#if isFellow}}
	{{#if otherSelected}}
	<div class="labelled-input">
		<label for="other-location">Please specify location</label>
		<input type="text" name="otherLocation" id="other-location" placeholder="Other location" />
	</div>
	{{/if}}
{{/if}}
	<button type="submit" class="btn btn-lg btn-primary">Next</button>
</template>

<template name="requestReason">
	<textarea class="form-control" name="requestReason" id="reason" placeholder="Reason (optional)" autocomplete="off">{{oldValue}}</textarea>
	<button type="submit" class="btn btn-lg btn-primary">Next</button>
</template>

<template name="requestConfirmation">
	<div class="request-confirmation">
		<input type="hidden" name="requestConfirmation" value="confirmed" />
		<p>
			Does everything look right? Click an entry to change it.
		</p>
		<button type="submit" class="btn btn-lg btn-primary">Submit request</button>
	</div>
</template>

<template name="submissionConfirmation">
	<div class="submission-confirmation-container">
		<div class="submission-confirmation">
{{#if sickDay}}
			<p>
				Please notify your rotation site charge faculty
				and the faculty you are assigned directly as soon as possible.
			</p>
	{{#if number}}
			<p class="location-number">
				{{location}}: {{number}}
			</p>
	{{/if}}
	{{#if isFellow}}
			<p>
				If you are on call, please notify {{fellowshipAdminName}} via text message as soon as possible.
			</p>
	{{else}}
			<p>
				If you are on call, notify both chief residents via pager as soon as possible.
			</p>
			<table class="chief-pager-table">
		{{#each chief in chiefs}}
				<tr>
					<th>{{chief.name}}</th>
					<td>{{chief.pager}}</td>
				</tr>
		{{/each}}
			</table>
	{{/if}}
{{else}}
			<p>
				Approval requests have been sent. You will be notified of their responses.
			</p>
{{/if}}
			<button type="button" class="btn btn-lg btn-primary" id="restart">Restart</button>
		</div>
	</div>
</template>

<template name="additionalFellowshipInfo">
	<div class="column">
{{#if submissionType DAY_OFF_TYPES.SICK}}
		<fieldset>
			<legend>Have you already notified anyone?</legend>
			<div class="options">
				<label>
					<input type="radio" name="alreadyNotified" value="yes" class="additional-fellowship-info" />
					Yes
				</label>
				<label>
					<input type="radio" name="alreadyNotified" value="no" class="additional-fellowship-info" />
					No
				</label>
			</div>
		</fieldset>
	{{#if alreadyNotified}}
		<div class="labelled-input">
			<label for="notifiee">Who did you notify?</label>
			<input type="text" name="notified" id="notified" class="additional-fellowship-info" placeholder="Who did you notify?" />
		</div>
	{{/if}}
{{else}}{{#if submissionType DAY_OFF_TYPES.MEETING}}
		<fieldset>
			<legend>Are you presenting?</legend>
			<div class="options">
				<label>
					<input type="radio" name="presenting" value="yes" class="additional-fellowship-info" required />
					Yes
				</label>
				<label>
					<input type="radio" name="presenting" value="no" class="additional-fellowship-info" required />
					No
				</label>
			</div>
		</fieldset>
{{/if}}{{/if}}
		<button type="button" id="submit-additional-fellowship-info" class="btn btn-lg btn-primary">Next</button>
	</div>
</template>
