<template name="home">
	<section class="home {{dayOffType}}">
		<header>
			<h1>Need a day off?</h1>
		</header>

		<section class="completed-entries">
			<table>
{{#each entry in entries}}
	{{#if getEntry entry}}
				<tr class="completed-entry {{editable}}" data-id="{{entry}}">
					<th>{{entryName entry}}</th>
					<td>{{getEntry entry}}</td>
				</tr>
	{{/if}}
{{/each}}
			</table>
		</section>

		{{> dayOffEntry}}

		<footer>
			<a href="/list">List</a>
		</footer>
	</section>
</template>

<template name="dayOffEntry">
	<form class="entry-form form-horizontal">
		{{> Template.dynamic template=nextEntry}}
	</form>
</template>

<template name="dayOffType">
	<section class="day-off-buttons">
{{#each dayOffButtons}}
		{{> dayOffTypeButton}}
{{/each}}
	</section>
</template>

<template name="dayOffTypeButton">
	<button type="submit" class="day-off-button btn btn-lg btn-primary {{value}}" name="dayOffType" value="{{value}}">{{text}}</button>
</template>

<template name="requestorName">
	<div class="col-md-3 col-md-offset-4 col-sm-5 col-sm-offset-3 col-xs-9">
		<input type="text" class="form-control" name="requestorName" id="name" placeholder="Your name" required />
	</div>
	<div class="col-xs-1">
		<button type="submit" class="btn btn-lg btn-primary">Next</button>
	</div>
</template>

<template name="requestorEmail">
	<div class="col-md-3 col-md-offset-4 col-sm-5 col-sm-offset-3 col-xs-9">
		<input type="email" class="form-control" name="requestorEmail" id="email" placeholder="Your email" required />
	</div>
	<div class="col-xs-1">
		<button type="submit" class="btn btn-lg btn-primary">Next</button>
	</div>
</template>

<template name="requestedDate">
	<div class="col-md-3 col-md-offset-4 col-sm-5 col-sm-offset-3 col-xs-9">
		<input type="date" class="form-control" name="requestedDate" id="date" required />
	</div>
	<div class="col-xs-1">
		<button type="submit" class="btn btn-lg btn-primary">Next</button>
	</div>
</template>

<template name="requestedLocation">
	<div class="col-md-3 col-md-offset-4 col-sm-5 col-sm-offset-3 col-xs-9">
		<select class="form-control" name="requestedLocation" id="location" required>
			<option value="">Select location</option>
{{#each location in locations}}
			<option value="{{location._id}}">{{location.name}}</option>
{{/each}}
		</select>
	</div>
	<div class="col-xs-1">
		<button type="submit" class="btn btn-lg btn-primary">Next</button>
	</div>
</template>

<template name="requestConfirmation">
	<input type="hidden" name="requestConfirmation" value="confirmed" />
	<p>
		Does everything look right? Click an entry to change it.
	</p>
	<button type="submit" class="btn btn-lg btn-primary">Submit request</button>
</template>

<template name="submissionConfirmation">
	<input type="hidden" name="submissionConfirmation" value="restart" />
	<div class="submission-confirmation">
{{#if sickDay}}
		<p>
			Please notify your rotation site charge faculty
			and the faculty you are assigned directly as soon as possible
			using the following number.
		</p>
		<p class="location-number">
			{{location}}: {{number}}
		</p>
		<p>
			If you are on call, notify both chief residents via pager as soon as possible.
		</p>
		<table class="chief-pager-table">
	{{#each chief in chiefs}}
			<tr>
				<th>{{chief.name}}</th>
				<td>{{chief.pager}}</td>
			</tr>
	{{/each}}
		</table>
{{else}}
		<p>
			Approval requests have been sent. You will be notified of their responses.
		</p>
{{/if}}
	</div>
	<button type="submit" class="btn btn-lg btn-primary">Restart</button>
</template>
