<template name="requestsList">
	<section class="requests-list container">
		<header>
			<h1>All Requests</h1>
		</header>
{{#if sickDayDetails}}
		<h2 id="sick-day-details">Sick Day Details</h2>
		{{>requestDetails request=sickDayDetails}}
		<button type="button" class="close-details-button btn btn-default" id="close-sick-day-details">Close details</button>
{{/if}}
{{#if sickDayRequests}}
		<section class="sick-day-requests">
			<h2>Sick Days</h2>
			{{>reactiveTable collection=sickDayRequests settings=sickDaySettings}}
			<hr />
		</section>
{{/if}}

{{#if iDayDetails}}
		<h2 id="i-day-details">I-Day Details</h2>
		{{>requestDetails request=iDayDetails}}
		<button type="button" class="close-details-button btn btn-default" id="close-i-day-details">Close details</button>
{{/if}}
{{#if iDayRequests}}
		<section class="i-day-requests">
			<h2>I-Day Requests</h2>
			{{>reactiveTable collection=iDayRequests settings=iDaySettings}}
			<hr />
		</section>
{{/if}}
	</section>
</template>

<template name="singleRequestPage">
	<section class="single-request container">
		<header>
			<h1>Request</h1>
		</header>

		{{>requestDetails request=request}}
	</section>
</template>

<template name="requestDetails">
	<section class="request-details well well-lg">

{{#if request}}
		<h1>{{request.requestorName}}{{#if isIDay request}} <span class="label {{statusLabelType request.status}}">{{capitalizeFirstLetter request.status}}</span>{{/if}}</h1>
	{{!-- TODO: Render calendar --}}
		<div class="row">
			<div class="col-md-9 request-details-main">
				<div class="row date-location-container">
					<div class="col-md-5">
						<span class="request-date">{{displayDateRange request.requestedDate}}</span>
					</div>
					<div class="col-md-5 col-md-offset-2">
						<span class="request-location">{{request.requestedLocation.name}}</span>
					</div>
				</div>
	{{#if request.requestReason}}
				<div class="row request-reason">
					<div class="col-md-10 col-md-offset-1">
						<p>{{request.requestReason}}</p>
					</div>
				</div>
	{{/if}}
				<div class="row id-time-container">
					<div class="col-md-5">
						<span class="request-id">ID: <span>{{request._id}}</span></span>
					</div>
					<div class="col-md-5 col-md-offset-2">
						<span class="request-time">Requested: <time datetime="{{displayISODate request.requestTime}}">{{displayDate request.requestTime}}</time></span>
					</div>
				</div>
			</div>
			<div class="col-md-3 request-details-aside">
	{{#if isIDay request}}
		{{#each confirmationRequest in request.confirmationRequests}}
				<div class="panel panel-default">
					<div class="panel-heading">
						<h1 class="panel-title">{{displayNameByUsername confirmationRequest.confirmer}}</h1>
					</div>
					<div class="panel-body">
						<span class="label {{statusLabelType confirmationRequest.status}}">{{capitalizeFirstLetter confirmationRequest.status}}</span>
			{{#if confirmationRequest.reason}}
						<p>{{confirmationRequest.reason}}</p>
			{{else}}{{#if confirmationRequest.note}}
						<p>{{confirmationRequest.note}}</p>
			{{/if}}{{/if}}
					</div>
				</div>
				<label for="{{confirmationRequest.confirmer}}"></label>
		{{/each}}
	{{else}}
		{{#each userNotified in request.usersNotified}}
				<div class="panel panel-default">
					<div class="panel-heading">
						<h1 class="panel-title">{{displayNameByUsername userNotified}}</h1>
					</div>
					<div class="panel-body">
						<span class="label label-success">Notified</span>
					</div>
				</div>
		{{/each}}
	{{/if}}
			</div>
		</div>

	{{#if needsResponse request}}
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<div class="request-response-container well">
					<div class="row">
						<form class="col-md-5" id="confirm-request-form">
							<input type="hidden" id="confirm-request-id" value="{{request._id}}" />
							<label for="confirm-note">Note (optional)</label>
							<textarea id="confirm-note" name="confirm_note" class="form-control"></textarea>
							<button type="submit" class="btn btn-lg btn-primary">Approve request</button>
						</form>

						<form class="col-md-5 col-md-offset-2" id="deny-request-form">
							<input type="hidden" id="deny-request-id" value="{{request._id}}" />
							<label for="deny-reason">Reason for denial</label>
							<textarea id="deny-reason" name="deny_reason" class="form-control" required></textarea>
							<button type="submit" class="btn btn-lg btn-primary">Deny request</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	{{else}}{{#if notDenied request}}{{#if submittedResponse request}}
		{{#let confirmationRequest=(submittedResponse request)}}
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<div class="request-response-container well">
					<p>
						You have already submitted a response to this request.
					</p>
			{{#if approvedRequest confirmationRequest}}
					<form id="confirmation-request-note-edit-form">
						<input type="hidden" id="note-request-id" value="{{request._id}}" />
						<label for="confirmation-request-note">Edit approval note</label>
						<textarea class="form-control" id="confirmation-request-note">{{confirmationRequest.note}}</textarea>
						<button type="submit" class="btn btn-primary">Edit note</button>
					</form>
			{{/if}}
				</div>
			</div>
		</div>
		{{/let}}
	{{/if}}{{/if}}{{/if}}

	{{#if currentUserAdmin}}
		<button type="button" class="btn btn-warning" id="resend-confirmation-requests">Resend confirmation requests</button>
	{{/if}}

	{{#if currentUserAdmin}}{{#if resendConfirmationRequests}}
		<div class="panel panel-default resend-confirmation-requests-container">
			<div class="panel-heading">
				<h1 class="panel-title">Resend Confirmation Requests <button type="button" class="close" aria-label="Close" id="close-resend-confirmation-requests"><span aria-hidden="true">&times;</span></button></h1>
			</div>
			<div class="panel-body">
				<form id="resend-confirmation-requests-form">
					<input type="hidden" id="resend-confirmation-requests-request-id" value="{{request._id}}" />
		{{#each confirmationRequest in confirmationRequests request}}
			{{#if isPending confirmationRequest}}
					<div class="form-group">
						<label>
							<input type="checkbox" name="resend_username" value="{{confirmationRequest.confirmer}}" />
							{{displayNameByUsername confirmationRequest.confirmer}}
						</label>
					</div>
			{{/if}}
		{{/each}}

					<button type="submit" class="btn btn-warning">Resend requests</button>
				</form>
			</div>
		</div>
	{{/if}}{{/if}}
{{else}}
		<p>
			It looks like you're not allowed to view this request.
		</p>
{{/if}}
	</section>
</template>
