<template name="requestsList">
	<section class="requests-list container">
		<header>
			<h1>All Requests</h1>
		</header>

{{#if sickDayRequests}}
		<h2>Sick days</h2>
		{{>reactiveTable collection=sickDayRequests settings=sickDaySettings}}
{{/if}}

{{#if iDayRequests}}
		<h2>I-Day Requests</h2>
		{{>reactiveTable collection=iDayRequests settings=iDaySettings}}
{{/if}}
	</section>
</template>

<template name="singleRequest">
	<section class="single-request container">
		<header>
			<h1>Request</h1>
		</header>

{{#if request}}
		{{>reactiveTable collection=request settings=requestSettings}}

	{{#if needsResponse}}
		<form class="col-md-offset-1 col-md-4" id="confirm-request-form">
			<h2>Confirm request</h2>
			<button type="submit">Confirm request</button>
		</form>

		<form id="deny-request-form" class="col-md-4 col-md-offset-2">
			<h2>Deny request</h2>
			<label for="deny-reason">Reason for denial</label>
			<textarea id="deny-reason" name="deny_reason" class="form-control" required></textarea>
			<button type="submit">Deny request</button>
		</form>
	{{/if}}
{{else}}
		<p>
			It looks like you're not allowed to view this request.
		</p>
{{/if}}
	</section>
</template>
