<template name="requestsList">
	<section class="requests-list container">
		<header>
			<h1>Day off list</h1>
		</header>
{{#if sickDayDetails}}
		<h2 id="sick-day-details">Sick Day Details</h2>
		<section class="request-details well well-lg">
			{{>React component=RequestDetails request=sickDayDetails currentUser=currentUser}}
		</section>
		<button type="button" class="close-details-button btn btn-default" id="close-sick-day-details">Close details</button>
{{/if}}
{{#if sickDayRequests}}
		<section class="sick-day-requests">
			<h2>Sick Days</h2>
			{{>reactiveTable collection=sickDayRequests settings=sickDaySettings}}
			<hr />
		</section>
{{/if}}

{{#if requestDetails}}
	<h2 id="i-day-details">Request Details</h2>
	<section class="request-details well well-lg">
		{{>React component=RequestDetails request=requestDetails currentUser=currentUser}}
	</section>
	<button type="button" class="close-details-button btn btn-default" id="close-i-day-details">Close details</button>
{{/if}}
{{#if requestRequests}}
	<section class="i-day-requests">
		<h2>Requests</h2>
		{{>reactiveTable collection=requestRequests settings=requestSettings}}
		<hr />
	</section>
{{/if}}
	</section>
</template>

<template name="singleRequestPage">
	<section class="single-request container">
		<header>
			<h1>Request</h1>
		</header>

		<section class="request-details well well-lg">
			{{>React component=RequestDetails request=request currentUser=currentUser}}
		</section>
	</section>
</template>
