<template name="singleRequest">
	<header>
		<h1>Request</h1>
	</header>

{{#if request}}
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>Date</th>
				<th>Location</th>
			</tr>
		</thead>
		<tbody>
			{{> requestRow request=request}}
		</tbody>
	</table>

	{{#if needsResponse}}
	<h2>Confirm request</h2>
	<form id="confirm-request-form">
		<button type="submit">Confirm request</button>
	</form>

	<h2>Deny request</h2>
	<form id="deny-request-form">
		<label for="deny-reason">Reason for denial</label>
		<textarea id="deny-reason" name="deny_reason" required></textarea>
		<button type="submit">Deny request</button>
	</form>
	{{/if}}
{{else}}
	<p>
		It looks like you're not allowed to view this request.
	</p>
{{/if}}
</template>
