body {
	background-color: $background-color;
    color: $text-color;
    background-color: $background-color;
	font-size: initial !important;
	font-family: $base-font-family;
	margin: 0;
	padding: 0;
}

html {
	font-size: initial !important;
	margin: 0;
	padding: 0;
}

main {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font-family;
	color: $heading-text-color;
}

.btn {
	font-family: $button-font-family;
}

.btn-lg {
	border-radius: 2px;
}

.btn.btn-primary {
	background-color: $button-background-color;

	&:hover {
		background-color: $button-background-hover-color
	}
}

.placeholder {
    color: #999;
}

select:invalid {
	color: #999;

	option {
		color: #555; // default bootstrap color
	}
}
