body {
	background-color: $background-color;
    // font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font-family;
	color: $heading-text-color;
}

.btn.btn-primary {
	background-color: $button-background-color;

	&:hover {
		background-color: $button-background-hover-color
	}
}

.placeholder {
    color: #999;
}

select:invalid {
	color: #999;

	option {
		color: #555; // default bootstrap color
	}
}
