.completed-entries {
	color: grey;

	ul {
		list-style: none;

		a {
			color: grey;
		}
	}
}

.entry-form {
	display: table-cell;
	vertical-align: middle;
	margin: 0px auto;

	.day-off-buttons {

	}
}
